<div class="p-2">
  <div class="section1">

    <app-header></app-header>

    <div class="bg-image" style="position: relative;
          text-align: center;">
      <div style="  position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); font-size: xx-large;" class="org">
        BOOKS <br><br>
        Home / Cart

      </div>

    </div>
    <div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <table style="text-align: center; width:100%;">
              <tr style="border: 1px solid #c1c1c1;">
                <th style="border: 1px solid #c1c1c1;">BOOK COVER</th>
                <th style="border: 1px solid #c1c1c1;">BOOK TITLE</th>
                <th style="border: 1px solid #c1c1c1;">PRICE(₹)</th>
                <th style="border: 1px solid #c1c1c1;">BOOK WEIGHT</th>
                <th style="border: 1px solid #c1c1c1;">QUANTITY</th>
                <th style="border: 1px solid #c1c1c1;">TOTAL</th>
                <th style="border: 1px solid #c1c1c1;">REMOVE</th>
              </tr>
              <tr style="border-width: 1px;">
                <td style="border-width: 1px"><a><img src=" ../../assets/images/4.png" class="high"></a></td>
                <td style="border-width: 1px"><a href="#"
                    style="font-size: 14px; color: #6f6f6f; font-weight: 700; text-decoration: none;">Vestibulum
                    suscipit</a></td>
                <td style="border-width: 1px"><span
                    style="font-size: 14px; color: #6f6f6f; font-weight: 700;">₹165.00</span>
                </td>
                <td style="border-width: 1px"><span>0.65 Kg</span></td>
                <td style="border-width: 1px"><input type="number" ></td>
                <td style="border-width: 1px"><span
                    style="font-size: 14px; color: #6f6f6f; font-weight: 700;">₹165.00</span>
                </td>
                <td style="border-width: 1px"><a href="#"><img src="../../assets/images/bin.png"></a> </td>
              </tr>
              <tr style="border-width: 1px;">
                <td style="border-width: 1px"><a><img src="../../assets/images/3.png" class="high"></a></td>
                <td style="border-width: 1px"><a href="#"
                    style="font-size: 14px; color: #6f6f6f; font-weight: 700; text-decoration: none;">Vestibulum
                    dictum magna</a></td>
                <td style="border-width: 1px"><span
                    style="font-size: 14px; color: #6f6f6f; font-weight: 700;">₹50.00</span>
                </td>
                <td style="border-width: 1px"><span>0.80 Kg</span></td>
                <td style="border-width: 1px"><input type="number" value="1"></td>
                <td style="border-width: 1px"><span
                    style="font-size: 14px; color: #6f6f6f; font-weight: 700;">₹50.00</span>
                </td>
                <td style="border-width: 1px"><a href="#"><img src="../../assets/images/bin.png"></a> </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="container" style="margin-top: 44px;">
        <div class="row">
          <div class="col-sm-6">
            <button class="button button1"><a href="#" class="shop"
                style="font-size: 12px; color: white; font-weight: 700; text-decoration: none; font-family: sans-serif;">CONTINUE
                SHOPPING</a></button>
            <br>
            <h3 class="coup">COUPON</h3>
            <p>Enter your coupon code if you have one.</p>
            <input type="text" placeholder="Coupon code">
            <button class="button button1" style="margin-top: 0px;"><a href="#" class="shop"
                style="font-size: 12px; color: white; font-weight: 700; text-decoration: none; font-family: sans-serif;">APPLY
                COUPON</a></button>
          </div>
          <div class="col-sm-6" style="text-align: right;">
            <div class="cart-totals">
              <h2>CART TOTALS</h2>
              <div class="row g-0">
                <div class="col" style="font-weight: bolder;">
                  <span>SUBTOTAL</span>
                  <br><br>
                  <span>TOTAL BOOK WEIGHT</span>
                  <br><br>
                  <span>SHIPPING</span>
                  <br><br><br>
                  <span style="font-size: 2rem;">TOTAL</span>
                </div>
                <div class="col" style="font-weight: bolder;">
                  <span>&#8377;215.00</span>
                  <br><br>
                  <span>1.45 KG</span>
                  <br><br>
                  <span>FLAT RATE: &#8377;50.00/ BOOK FREE <br>
                    Free Shipping Above &#8377;500
                  </span>
                  <br><br>
                  <span style="font-size: 2rem;">&#8377;215.00</span>
                </div>
              </div>
              <div class="wc-proceed-to-checkout org" style="list-style-type: none;">
                <button class="button button2" style="margin-top: 30px;"><a href="#" class="shop"
                    style="font-size: 12px; color: white; font-weight: 700; text-decoration: none; font-family: sans-serif;">Proceed
                    to Checkout</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="stickyfooter">
    <app-footer></app-footer>
  </div>
</div>
